{% extends 'base.html' %}
{% load static from staticfiles %}
{% load auth_extras %}
{% load solicitudes_disponibles %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="alert alert-success">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span><b> Bienvenido <strong>{{ user.username }}</strong></b></span>
        </div>
    {% endif %}

    {% if request.user|solicitudes_disponibles  %}
        <div class="alert alert-info">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span><b> Solicitudes De Dietas Disponibles <strong><a class="btn btn-round btn-primary btn-sm" href="{% url 'catalogos:solicitud-dieta-te-create' %}">Crear Solicitud</a></strong></b></span>
        </div>
    {% endif %}


    {% if request.user|has_group:"Administrador" %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Solicitudes de Dietas Diarias</h5>
                        <h3 class="card-title">Estado de Dietas</h3>
                        <h3 class="card-title total-solicitudes" id="total-solicitudes"><em class="tim-icons icon-bell-55 text-primary"></em> </h3>
                        <button class="btn btn-sm btn-success btn-sm pull-right" onclick="getPdfEstadoDietas()">
                            Exportar a PDF
                        </button>
                    </div>
                    <div class="card-body">
                        <canvas id="chart-solicitudes-dietas-totales"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card card-chart">
                    <div class="card-header">

                        <h5 class="card-category">Solicitudes De Dietas Diarias</h5>
                        <h3 class="card-title">Solicitudes Por Jornada</h3>
                        <button class="btn btn-sm btn-success btn-sm pull-right" onclick="getPdfsJornadas()">
                            Exportar a PDF
                        </button>
                    </div>
                    <div class="card-body">

                        <canvas id="chart-solicitudes-jornadas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Solicitudes De Dietas Diarias</h5>
                        <h3 class="card-title">Solicitudes Por Servicio</h3>
                        <button class="btn btn-sm btn-success btn-sm pull-right" onclick="getPdfsSerivicios()">
                            Exportar a PDF
                        </button>
                    </div>
                    <div class="card-body">
                        <canvas id="chart-solicitudes-servicios"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Solicitudes De Dietas Diarias</h5>
                        <h3 class="card-title">Solicitudes Por Dieta</h3>
                        <button class="btn btn-sm btn-success btn-sm pull-right" onclick="getPdfsDietas()">
                            Exportar a PDF
                        </button>
                    </div>
                    <div class="card-body">
                        <canvas id="chart-solicitudes-por-dieta"></canvas>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container text-center">
            <img src="{% static 'assets/img/logo-movil.png' %}" alt="logotipo"/>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {% if request.user|has_group:"Administrador" %}
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/informes/pieChart.js' %}"></script>
        <script>
            urlPdfEstadoDietas = "{% url 'catalogos:estado-dietas-pdf' %}";
            urlPdfJornadas = "{% url 'catalogos:jornadas-pdf' %}";
            urlPdfDietas = "{% url 'catalogos:dietas-pdf' %}";
            urlPdfServicios = "{% url 'catalogos:servicios-pdf' %}";


            const totalSolicitudesDiarias = 0;
            // Context de canvas para graficas
            const ctxSolicitudesTotales = document.getElementById('chart-solicitudes-dietas-totales');
            const ctxSolicitudesServicios = document.getElementById('chart-solicitudes-servicios');
            const ctxSolicitudesPorDietas = document.getElementById('chart-solicitudes-por-dieta');
            const ctxSolicitudesJornadas = document.getElementById('chart-solicitudes-jornadas');

            function getTotalSolicitudes(){ return totalSolicitudesDiarias; }

            function closeMessageWelcome() {
                $('.alert').alert('close')
            }

            function getPdfEstadoDietas() {
                urlPDF = urlPdfEstadoDietas;
                getPdf();
            }

            function getPdfsJornadas() {
                urlPDF = urlPdfJornadas;
                getPdf();
            }

            function getPdfsDietas() {
                urlPDF = urlPdfDietas;
                getPdf();
            }

            function getPdfsSerivicios() {
                urlPDF = urlPdfServicios;
                getPdf();
            }

            $(document).ready(function () {
                setTimeout(closeMessageWelcome, 3000);

                // Obtener los datos de los informes y crear los graficos
                $.ajax({
                    type: 'POST',
                    headers: {'X-CSRFToken': getCookie('csrftoken')},
                    url: "{% url 'catalogos:totales-solicitudes-diarias' %}",
                    success: function (resp) {
                        const data = resp.data;
                        $('.total-solicitudes').append(`Total ${data.solicitudes_dietas_dia}`);
                        newPieChart(ctxSolicitudesTotales, data.solicitudes_diarias_totales);
                        newPieChart(ctxSolicitudesServicios, data.servicios_totales);
                        newPieChart(ctxSolicitudesPorDietas, data.dietas_totales);
                        newPieChart(ctxSolicitudesJornadas, data.jornadas_totales);
                    },
                });
            });
        </script>
    {% endif %}
{% endblock %}
